<main class="content">
	<div class="content-header ui-content-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
					<h1 class="content-heading"><%= @department.departName %></h1>
				</div>
			</div>
		</div>
	</div>
    <div class="container" >
        <section class="content-inner margin-top-no">
            <br>
            <br>
            <br>
            <h2 class="content-sub-heading"><%= @department.departName %></h2>

            <% @proffessors.each do |p| %>
                <div class="col-md-4 col-sm-6" >
                    <div class="card <%=cycle('card-brand','card-brand-accent','card-green','card-orange','card-red','')%>">
                        <div class="card-main">
                            <div class="card-inner">
                                <p class="card-heading"><%= p.proffessorName %></p>
                                <p><%= p.proffessorDesc %></p>
                                <% if current_user && current_user.admin? %> 
                                <p class="recipe-edit"> 
                                    <%= link_to "[수정]", edit_proffessor_path(p) %> 
                                </p> 
                                <% end %>
                            </div>
                            <div class="card-action">
                                <div class="card-action-btn pull-left">
                                    <% unless p.lectures.empty? %>
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModala">등록된 강의 확인</button>
                                    <div id="myModala" aria-hidden="true" class="modal fade" role="dialog" tabindex="-1">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-inner">
                                                    <% p.lectures.each do |n| %>
                                                        <%= form_tag('/proflectures/show', method: :get) do %>
                                                            <%= text_field_tag :departmentId, p.department_id, type: :hidden %>
                                                            <%= text_field_tag :proffessorId, p.id, type: :hidden %>
                                                            <%= text_field_tag :lectureId, n.id, type: :hidden %>
                                                            <%= submit_tag n.lectureName, :class =>"btn btn-brand" %>
                                                        <% end %>
                                                    <% end %>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <% else %>
                                        등록된 강의 없음
                                    <% end %>
                                    <%= form_tag('/proflectures/new', method: :get) do %>
										<%= text_field_tag :departmentId, p.department_id, type: :hidden %>
										<%= text_field_tag :proffessorId, p.id, type: :hidden %>
										<%= submit_tag "[추 가]", :class =>"btn btn-flat" %>
									<% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </section>
        <%= form_tag('/proffessors/new', method: :get) do %>
            <%= text_field_tag :departmentId, @department.id, type: :hidden %>
            <%= submit_tag "교수생성",{:style =>"float:right; font-color:white; font-family:bold",:class =>"btn btn-green"} %>
        <% end %>
        <br>
    </div>
</main>
	
