<main class="content">
	<div class="content-header ui-content-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-push-1 col-sm-10 col-sm-push-1">
					<h1 class="content-heading"><%= @proffessor.proffessorName %> - <%= @lecture.lectureName %></h1>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<section class="content-inner margin-top-no">
            <br>
            <br>
            <br>
            <h2 class="content-sub-heading"><%= @proffessor.proffessorName %> - <%= @lecture.lectureName %></h2>
            <%= form_tag('/posts/new', method: :get) do %>
                <%= text_field_tag :proflectureId, @proflecture.ids, type: :hidden %>
                <%= submit_tag "글쓰기",{:style =>"float:right; font-color:white; font-family:bold",:class =>"btn btn-green"} %>
            <% end %>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th data-field="lecture">&nbsp;&nbsp;&nbsp;강의&nbsp;&nbsp;&nbsp;</th>
                        <th data-field="postTitle">&nbsp;&nbsp;&nbsp;제목&nbsp;&nbsp;&nbsp;</th>
                        <th data-field="writer">&nbsp;&nbsp;&nbsp;글쓴이&nbsp;&nbsp;&nbsp;</th>
                        <th data-field="time">&nbsp;&nbsp;&nbsp;작성일&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <% @posts.each do |p| %>
                    <tr>
                        <td width="20%"><%= @proffessor.proffessorName %>-<%= @lecture.lectureName %></td>
                        <td width="40%"><%= link_to p.title, {:controller =>"posts", :action =>"show", :post => p.id} %></td>
                        <td width="20%"><%= User.find_by_id(p.user_id).name %></td>
                        <td width="20%"><%= p.created_at.strftime("%m 월 %d 일 %H 시") %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
			<div>
            <% if current_user %> 
				<%= form_for(current_user, url: '/ratingproflecture') do |n| %>
					<input type="hidden" value = "<%= @proflecture.ids %>" name="proflectureid">
					<input type="number" name ="rtproflecture" value= "입력해주세요">
					<input type="submit">
				<% end %>
            <% end %>
			</div>
        </section>
    </div>
</main>
